<form name="feedback-form" action="?" method="post" class="feedback-form">
  <i class="feedback-form__close" title="Закрыть"></i>
  <h3 class="feedback-form__title">Мы обязательно вам ответим!</h3>
  <div class="feedback-form__form-group">
    <input name="username" id="username" type="text" class="feedback-form__input">
    <label for="username">Как вас зовут?</label>
  </div>

  <div class="feedback-form__form-group">
    <input name="user-mail" id="user-mail" type="email" class="feedback-form__input">
    <label for="user-mail">Ваша почта для ответа</label>
  </div>

  <div class="feedback-form__form-group">
    <textarea name="user-message" id="user-message"></textarea>
    <label for="user-message">Напишите что-нибудь...</label>
  </div>

  <input type="submit" class="btn btn--primary" value="Отправить">
</form>
