<footer class="container footer">
    <ul class="socials footer__socials">
      <li class="socials__item">
        <a class="socials__link socials__link--twitter" href="#" title="Мы в Твиттере">Мы в Твиттере</a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--instagram" href="#" title="Мы в Инстаграме">Мы в Инстаграме</a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--fb" href="#" title="Мы на Фейсбуке">Мы на Фейсбуке</a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--vk" href="#" title="Мы ВКонтакте">Мы ВКонтакте</a>
      </li>
    </ul>

    <ul class="footer__links">
      <li>
        <a href="#">Для поставщиков</a>
      </li>
      <li>
        <a href="#">Наши документы</a>
      </li>
      <li>
        <a href="#">О&nbsp;производстве</a>
      </li>
      <li>
        <a href="#">Экологические стандарты</a>
      </li>
    </ul>

    <figure class="footer__copyright">
      <img width="108" height="38" src="//placehold.it/108x38" alt="HTML Academy logo">
      <figcaption class="footer__copyright__text">
        Сделано в&nbsp;<a href="//htmlacademy.ru">HTML Academy</a> &#0169; 2016
      </figcaption>
    </figure>
</footer>
