<footer class="container footer">
    <ul class="socials footer__socials">
      <li class="socials__item">
        <a class="socials__link socials__link--twitter" href="#" title="Мы в Твиттере">Мы в Твиттере</a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--instagram" href="#" title="Мы в Инстаграме">Мы в Инстаграме</a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--fb" href="#" title="Мы на Фейсбуке">Мы на Фейсбуке</a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--vk" href="#" title="Мы ВКонтакте">Мы ВКонтакте</a>
      </li>
    </ul>

    <ul class="footer__links">
      <li class="footer__links-item footer__links-item--heart">
        <a class="link" href="#">Для поставщиков</a>
      </li>
      <li class="footer__links-item">
        <a class="link" href="#">Наши документы</a>
      </li>
      <li class="footer__links-item">
        <a class="link" href="#">О&nbsp;производстве</a>
      </li>
      <li class="footer__links-item">
        <a class="link" href="#">Экологические стандарты</a>
      </li>
    </ul>

    <figure class="footer__copyright">
      <a class="footer__logo-link" href="//htmlacademy.ru">
        <img class="footer__logo" width="108" height="38" src="img/htmlacademy.svg" alt="HTML Academy logo">
      </a>
      <figcaption class="footer__copyright-text">
        Сделано в&nbsp;<a class="link" href="//htmlacademy.ru">HTML Academy</a> &#0169; 2017
      </figcaption>
    </figure>
</footer>
