@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loader,
.loader::before,
.loader::after {
  position: absolute;
  width: 1em;
  height: 4em;
  background: #ffffff;
  animation: load1 1s infinite ease-in-out;
}

.loader::before,
.loader::after {
  content: "";
  top: 0;
}

.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}

.loader {
  @include centering-absolute();
  z-index: 99;
  text-indent: -9999em;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:after {
  left: 1.5em;
}
