.catalog {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 45px;
  @include breakpoint(max-width $sm) {  justify-content: center;  }
}

.product-card {
  position: relative;
  min-width: 200px;
  width: 23.3%;
  margin-bottom: 35px;
  text-align: center;

  @include breakpoint(min-width $xl) {  margin-right: 2.26%;  }
  @include breakpoint(max-width $xl) {  margin-right: 1.75%;  }

  &:nth-child(4n),
  &:last-child {  margin-right: 0;  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: -14px;
    left: -13px;
  }

  &::before {
    z-index: -1;
    top: -6px;
    bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &::after {
    z-index: 1;
    top: 100%;
    bottom: -75px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:hover {
    &::before,
    &::after {  background-color: get-color(secondary, light, .3);  }

    .product-card__btn {  opacity: 1;  }

    .product-card__figcaption a {
      color: inherit;
      background: transparent;
    }
  }

  &__figure {  margin: 0;  }

  &__figcaption {


    @include breakpoint(min-width $lg + 1) {
      padding-right: .5em;
      padding-left: .5em;
    }

    a {  @extend .link;  }
  }

  &__price {
    position: absolute;
    top: 210px;
    left: 0;
    font-size: 45px;
    line-height: 1;
    text-shadow: 1px 1px 3px fade-out(#313235, .5);

    @include breakpoint($lg $xl) {  top: 55%;  }
    @include breakpoint(max-width $lg) {  top: 145px;  }
  }

  &__price-unit {  font-size: 30px;  }

  &__img {
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &__badge {
    @include sprite($hit);
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
    background-color: transparent;
  }

  &__btn {
    @extend .btn;
    @extend .btn--primary;
    @include centering-absolute(horizontal);
    z-index: 2;
    bottom: -55px;
    width: 122px;
    opacity: 0;
  }
}
