.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex: 1 1 267px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.featured-products {
  @extend .catalog;
}

.product-card {
  @extend .catalog__item;
  @include transition();
  text-align: center;

  &:hover {
    background-color: get-color(primary, light, .4);
  }

  &__figure {
    margin: 0;
  }

  &__img {
    width: 267px;
    height: 267px;
    border-radius: 50%;
  }
}
