.footer {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid get-color(primary, light, .3);

  @include breakpoint(max-width $lg) {  flex-wrap: wrap;  }

  &__socials {
    @include breakpoint(min-width $md) {  margin-top: 20px;  }
    @include breakpoint($sm $md) {  align-self: center;  }
  }

  &__links {
    @extend .ib;
    margin-top: 15px;

    @include breakpoint(min-width $md) {  max-width: 345px;  }

    @include breakpoint(max-width $md) {
      order: -1;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__links-item {
    display: inline-block;
    vertical-align: top;
    width: 48%;

    @include breakpoint(max-width $lg) {  width: 50%;  }

    &:first-child,
    &:nth-child(2) {  margin-bottom: 4px;  }

    &:nth-child(odd) {  padding-left: 20px;  }

    &.footer__links-item--heart {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 3px;  left: 0;
        @include sprite($heart);
      }
    }

    a {
      font-size: 13px;
      line-height: 1.384;
    }
  }

  &__copyright {
    margin: 0;

    &-text {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &__logo {
    width: 108px;
    height: 38px;
  }

  &__logo-link {

    &:hover {  opacity: .7;  }

    &:active {  opacity: .5;  }
  }
}

.socials {
  @extend .ib;

  &__item {
    @extend .ib__item;
    margin-right: 11px;
    text-indent: -9999px;
    @include breakpoint($md $lg) {  margin-right: 7px;  }

    &:last-child {  margin-right: 0;  }
  }

  &__link {
    box-sizing: content-box;
    display: block;
    border: 3px solid get-color(primary, light, .5);
    border-radius: 50%;
    opacity: .8;

    &:hover {
      opacity: 1;
      border-color: get-color(primary, light, .7);
    }

    &:active {  box-shadow: inset 0 2px 1px #888;  }

    &.socials__link--fb {  @include sprite($fb);  }
    &.socials__link--instagram {  @include sprite($instagram);  }
    &.socials__link--twitter {  @include sprite($twitter);  }
    &.socials__link--vk {  @include sprite($vk);  }
  }
}
