// Beware that those wankers at optimize.css removed all 'opinionated' rules from v.6.0.0,
// which were quite useful, though. Now you have to reset margins, font-family, etc. on your own.

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after { box-sizing: inherit; }

body {
  min-width: $xs - $gutter * 2;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  line-height: 1.375;
  color: $text-color-base;
  background-color: $background-color-base;
}

button,
input,
select,
optgroup,
textarea { font-family: inherit; }

img,
iframe,
video,
object {
  max-width: 100%;
  height: auto;
}

input[type='number'] { -moz-appearance: textfield; }

// Placeholders and Overflow
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } // FF 19+
input:-moz-placeholder { text-overflow: ellipsis; }

/* Smooth opacity transition for input placeholder on focus */
input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: .5; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: .5; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: .5; transition: opacity .3s ease;}
