.blog {
  @extend .clearfix;
  margin-bottom: 40px;

  &__item {
    @extend .col-half;
    min-height: 220px;
    border-radius: 1rem;

    &.blog__item--news {
      @extend .col-half__left;
      padding: 25px 22.35% 25px 20px;
      color: $text-color-secondary;
      background: #fff url("#{$img-dir}/bg/strawberry.jpg") no-repeat 100% 0 / cover;

      @include breakpoint(max-width $md) {
        padding-right: 33.33%;
        margin-bottom: 30px;
      }

      a {
        color: inherit;
        @include breakpoint(max-width $lg) {
          padding-right: 5px;
          background-color: get-color(primary, light, .8);
        }
      }

      a:hover {  text-decoration: none;  }
    }

    &.blog__item--subscribe {
      @extend .col-half__right;
      padding: 32px 20px 32px 21px;
      color: get-color(accent, base);
      background-color: get-color(secondary, light);

      p {
        margin-top: 0;
        margin-bottom: 35px;
        line-height: 1.375;
      }

      .input-field {
        width: calc(100% - 152px);
        margin-right: 10px;
      }
    }
  }

  &__item-category {
    font-weight: 600;
  }

  &__title {
    @extend .title;
    margin-top: .125em;
  }
}
