// Colors
$default-key: "base" !default;

$palette: (
  primary: (
    base: #849d8f,
    light: #fff,
    dark: #323232
  ),
  accent: (
    base: #5a5a5a,
    darker: #9a9a9a,
    light: #999,
    dark: #000,
    blue: #2e88e4,
    link: #ffbc9e
  ),
   secondary: (
     light: #f8f7f4,
     darker: #d3d3d2,
     red: #e84d37,
     green: #2f9e33
   ),
  menu-hovers: (
    base: #d07058,
    active: #f6b5a5,
    light: #fbded8,
  )
);

$text-color-base: get-color(primary, light);
$text-color-secondary: get-color(primary, dark);
$background-color-base: get-color(primary);
$transparent-white: get-color(primary, light, 0.4);

// Path variables
$img-dir: "../img";


// Breakpoints
$xs: 320px;
$sm: 480px;
$md: 767px;
$lg: 900px;
$xl: 1200px;


// Grid variables
$gutter: 10px;


// Typography variables
$font-size-base: 16px;
$title-base: $font-size-base * 1.5;
